name: ci

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run tests
        run: mvn -q test

      - name: Log in to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & push image
        run: |
          docker build -t $IMAGE:${{ github.sha }} -t $IMAGE:latest .
          docker push $IMAGE:${{ github.sha }}
          docker push $IMAGE:latest
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e
            cd ~/k8s-backend-lab
            # crea/actualiza compose si no existe (simple)
            if [ ! -f docker-compose.yml ]; then
              cat > docker-compose.yml << 'EOF'
            services:
              app:
                image: ghcr.io/crlian/k8s-backend-lab:latest
                container_name: k8s-backend-lab
                ports:
                  - "8080:8080"
                restart: unless-stopped
            EOF
            fi

            echo "${{ secrets.GHCR_READ_TOKEN }}" | docker login ghcr.io -u crlian --password-stdin
            docker compose pull
            docker compose up -d
            docker image prune -f
            
    
